@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");


:root {
    --font: 'Montserrat', 'Roboto';
}


body {
  font-family: 'Montserrat';
  max-width: fit-content;
  background: #c3cbdb;
}

.meny-fane {
  list-style-type: none;
  padding: 0;
  display: flex;
  background-color: #2a324b;
  max-width: fit-content;
}

.meny-fane-valg {
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  border-left: 10px solid #c3cbdb;
  text-transform: uppercase;
}

.meny-fane-valg:hover {
  color: #2a324b;
  background-color: #fff;
}

.active-tab,
.meny-innhold {
  background-color: #fff;
  color: #2a324b;
}
.active-tab a:hover {
  text-decoration: #2a324b;
}

.meny-innhold {
  padding: 20px;
  margin-top: -16px;
  margin-left: 10px;
}

